body {
    font-family: "Proxima Nova", sans-serif;
}

.PaymentCoin-style {
    font-family: "Proxima Nova", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.package-area {
    background: #d2dde9;
    margin: 0;
    text-align: center;
    padding: 10px;
    max-width: 300px;
    width: 100%;
    border-radius: 15px;
    min-height: 250px
}

.HeaderAllMain {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.profileCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid;
}

.HeaderAllMainElement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.profileCircle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    background-color: #90caf9;
}

    .profileCircle i {
        color: #64b5f6;
    }

.profile-menu:hover {
    color: #FFE969;
}

.noHov:hover {
    color: #fff;
}

.profile-menu {
    max-width: 100px;
    width: 100%;
    cursor: pointer;
}

.token {
    font-size: 11px;
    text-transform: uppercase;
    color: #FFE969;
    margin-bottom: 0;
}

.HeaderAllMainMenu > a {
    font-size: 13px;
}

.HeaderAllMainMenuElementText {
    font-size: 13px;
    margin-left: 5px;
}

.HeaderAllMainMenuElement {
    -ms-grid-columns: 20px auto;
    grid-template-columns: 20px auto;
}

.name {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 5px;
}

    .name span {
        margin: 0 0 0 5px;
    }

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

#package-area {
    cursor: pointer;
    min-height: 250px
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn {
    color: #fff;
    padding: .5rem 1.3rem;
    font-size: 1rem;
    word-wrap: break-word;
    background-color: #569B8C;
}

.lis-brd-light {
    border-color: #dadada !important;
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
}

.lis-bg-light {
    background-color: #f7f7f7;
}

.lis-rounded-top {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.lis-brd-light {
    border-color: #dadada !important;
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
}

.lis-bg-light {
    background-color: #00000005;
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
}

.pt-4, .py-4 {
    padding-top: 1.5rem !important;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.token-calculator {
    max-width: 319px;
}

.IndexMainElementIn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-content: center;

}

.chart-cont {
    min-width: 100%;
}

@media (min-width: 480px) {
    .btn {
        padding: 8px 20px;
        font-size: 14px;
    }

    .btn-secondary {
        background: #253992;
        border-color: #253992;
    }

    .btn {
        position: relative;
        color: #fff;
        font-weight: 500;
        padding: 8px 20px;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.01em;
        border-radius: 4px;
        min-width: 160px;
        border: 1px solid;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
    }
}
/*# sourceMappingURL=main.css.map */
