@model WebCoiner.Models.Dashboard

@{
    ViewBag.Title = "Dashboard";
    double raised = ((double)Model.Raised / 90000000) * 100;
    var mil = Model.Raised / 1000000;
}


<!DOCTYPE html>
<html class="perfect-scrollbar-on" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="76x76" href="http://www.urbanui.com/turbo/assets/img/apple-icon.png">
    <link rel="icon" href="~/assets/home/icc.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>satauri</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    c

    <script type="text/javascript" charset="UTF-8" src="~/assets/admin/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/assets/admin/util.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="logo">
                <a href="/UserDashboard/Dashboard" class="simple-text">
                    <img style="max-width: 150px;" src="~/assets/home/icon.png" />
                </a>
            </div>
            <div class="logo logo-mini">
                <a href="/UserDashboard/Dashboard" class="simple-text">
                    <img src="~/assets/home/icon.png" />
                </a>
            </div>
            <div class="sidebar-wrapper ps-container ps-theme-default ps-active-y"
                 data-ps-id="74a2a057-0a09-94c6-3caf-4a89192d0081">
                <ul class="nav navigation-class">
                    <li class="">
                        <a href="/dashboard/list/">
                            <img src="~/assets/admin/diamond.svg" />
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="/transactions/list/">
                            <img src="~/assets/admin/transaction.svg" />
                            <p>Transactions</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="/users/list/">
                            <img src="~/assets/admin/user.svg" />
                            <p>Users</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="/promocodes/list/">
                            <img src="~/assets/admin/promotion.svg" />
                            <p>Promocodes</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="/manage/index/">
                            <img src="~/assets/admin/profile.svg" />
                            <p>Profile</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="/userdashboard/create/">
                            <img src="~/assets/admin/buy.svg" />
                            <p>Buy Tokens</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/list/">
                            <img src="~/assets/admin/documentation.svg" />
                            <p>Documentation</p>
                        </a>
                    </li>
                </ul>

                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                    <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps-scrollbar-y-rail" style="top: 0px; height: 506px; right: 0px;">
                    <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 423px;"></div>
                </div>
            </div>
        </div>
        <div class="main-panel ps-container ps-theme-default ps-active-y"
             data-ps-id="60c85326-74ed-5a90-acea-7a4d3ee9c9bf">
            <nav class="navbar navbar-default navbar-absolute" data-topbar-color="blue">
                <div class="container-fluid justify-content-end">
                    <div class="navbar-header">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                            {
                                @Html.AntiForgeryToken()
                        <div class="LogOutButton"><a href="javascript:document.getElementById('logoutForm').submit()" style="color: #fff">LOGOUT</a></div>
                            }
                        }

                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">6</span>
                                    <p class="hidden-lg hidden-md">
                                        Notifications
                                        <b class="caret"></b>
                                    </p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">You have 5 new messages</a>
                                    </li>
                                    <li>
                                        <a href="#">You're now friend with Mike</a>
                                    </li>
                                    <li>
                                        <a href="#">Wish Mary on her birthday!</a>
                                    </li>
                                    <li>
                                        <a href="#">5 warnings in Server Console</a>
                                    </li>
                                    <li>
                                        <a href="#">Jane completed 'Induction Training'</a>
                                    </li>
                                    <li>
                                        <a href="#">'Prepare Marketing Report' is overdue</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">apps</i>
                                    <p class="hidden-lg hidden-md">Apps</p>
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">settings</i>
                                    <p class="hidden-lg hidden-md">Settings</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header">
                                    <div class="package-img">
                                        <img src="~/assets/admin/investment.svg">
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <p class="category"><strong>Your Invesment</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header">
                                    <div class="package-img">
                                        <img src="~/assets/admin/balance.svg">
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="category"><strong>Total Balance</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header">
                                    <div class="package-img">
                                        <img src="~/assets/admin/profit.svg">
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="category"><strong>Profits</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header">
                                    <div class="package-img">
                                        <img src="~/assets/admin/tokens.svg">
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="category"><strong>Token Amount</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card" style="min-height: 350px">
                                <div class="card-header card-header-icon">
                                    <i class="material-icons">timeline</i>
                                </div>
                                <div class="card-content" style="min-height: 400px">
                                    <h4 class="card-title">
                                        Sales Trend
                                    </h4>
                                    <div class="chart chart-js-container">
                                        <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                        <canvas id="areaChart" width="864" height="432" style="display: block";></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="token-calculator card card-full-height"
                                 style=" background-color:#fff;">
                                <div class="card-innr">
                                    <div class="card-head">
                                        <h4 class="card-title" style="color: #000;">Profit Calculator</h4>
                                        <p class="card-title-text" style="color:#000;">
                                            Enter amount to calculate profits.
                                        </p>
                                    </div>
                                    <div class="token-calc">
                                        <div class="token-pay-amounts">
                                            <input style="color: #000 !important" class="input-bordereds input-with-hint ng-pristine ng-valid ng-touched"
                                                   id="btc-base-amount" type="text" value="0">
                                            <div class="token-pay-currencys">
                                                <a class="link ucap link-light toggle-tigger"
                                                   href="javascript:void(0)">$</a>
                                            </div>
                                        </div>
                                        <div class="token-received">
                                            <div class="token-eq-sign">=</div>
                                            <div class="token-received-amount"></div>
                                        </div>
                                        <div class="token-pay-amounts">
                                            <input style="color: #000 !important" class="input-bordereds input-with-hint ng-untouched ng-pristine ng-valid"
                                                   disabled="" id="token-base-amount" type="text" value="0">
                                            <div class="token-pay-currencys">
                                                <a class="link ucap link-light toggle-tigger"
                                                   href="javascript:void(0)">$</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="token-buy">
                                        <a style="color:white;background-color:#2c80ff; border-color:#2c80ff;"
                                           class="btn btn-primary" href="/userdashboard/create/">Buy Tokens</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ps-scrollbar-x-rail" style="width: 1020px; left: 0px; bottom: 0px;">
                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps-scrollbar-y-rail" style="top: 0px; height: 606px; right: 0px;">
                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 209px;"></div>
            </div>
        </div>
    </div>


    <script src="~/assets/admin/jquery-3.js" type="text/javascript"></script>
    <script src="~/assets/admin/jquery-ui.js" type="text/javascript"></script>
    <script src="~/assets/admin/bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/admin/material.js" type="text/javascript"></script>
    <script src="~/assets/admin/perfect-scrollbar.js" type="text/javascript"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/assets/admin/jquery_006.js"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="~/assets/admin/moment.js"></script>
    <!--  Charts Plugin -->
    <script src="~/assets/admin/jquery.js"></script>
    <script src="~/assets/admin/jquery_005.js"></script>
    <script src="~/assets/admin/jquery_007.js"></script>
    <script src="~/assets/admin/jquery_010.js"></script>
    <script src="~/assets/admin/jquery_008.js"></script>
    <script src="~/assets/admin/Chart.js" type="text/javascript"></script>

    <!--  Plugin for the Wizard -->
    <script src="~/assets/admin/jquery_004.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/assets/admin/bootstrap-notify.js"></script>
    <!-- DateTimePicker Plugin -->
    <script src="~/assets/admin/bootstrap-datetimepicker.js"></script>
    <!-- Vector Map plugin -->
    <script src="~/assets/admin/jquery-jvectormap.js"></script>
    <!-- Sliders Plugin -->
    <script src="~/assets/admin/nouislider.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="~/assets/admin/js"></script>
    <!-- Select Plugin -->
    <script src="~/assets/admin/jquery_003.js"></script>
    <!--  DataTables.net Plugin    -->
    <script src="~/assets/admin/jquery_009.js"></script>
    <!-- Sweet Alert 2 plugin -->
    <script src="~/assets/admin/sweetalert2.js"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/assets/admin/jasny-bootstrap.js"></script>
    <!--  Full Calendar Plugin    -->
    <script src="~/assets/admin/fullcalendar.js"></script>
    <!-- TagsInput Plugin -->
    <script src="~/assets/admin/jquery_002.js"></script>
    <!-- Material Dashboard javascript methods -->
    <script src="~/assets/admin/turbo.js"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/assets/admin/demo.js"></script>

    <script src="~/assets/admin/flot-charts.js"></script>
    <script src="~/assets/admin/chartjs-charts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            // Javascript method's body can be found in assets/js/demos.js
            demo.initVectorMap();
        });
    </script>


    <script>

        var ctx = document.getElementById("myChart");
        Chart.register(ChartDataLabels);
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 1, 3],
                    backgroundColor: 'red'
                }, {
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 1, 3],
                    backgroundColor: 'blue'
                }]
            },
            options: {
                scales: {
                    x: {
                        stacked: true
                    },
                    y: {
                        stacked: true
                    }
                },
                plugins: {
                    datalabels: {
                        anchor: context => {
                            let bar = context.chart.getDatasetMeta(context.datasetIndex).data[context.dataIndex].getProps().height;
                            document.getElementById('myHeight').innerHTML = bar;
                            const threshold = 6;

                            if (bar + threshold > context.chart.chartArea.bottom) {
                                return 'end'
                            }
                            return 'center'
                        }
                    }
                }
            }
        });
    </script>

    @section Scripts {
        <script>
        var milion =@mil;

        $("#btc-base-amount").on("keyup", function () {
            var inputvalue = $(this).val()
            values = inputvalue.replace('$', '').replace(',', '').replace('.', '');

            //values = values * 12;

            //TODO Raised from http://faircover-ico.com/dashboard/list/ ...
            //var milion = 14;

            if (milion < 15)
                values = values * 10;
            else if (milion > 15 && milion < 49)
                values = values * 4;
            else
                values = values * 2;


           // if (milion < 5)
           //     values = values * 13;
           //else if (milion < 40)
           //     values = values * 7;
           // else
           //     values = values * 3.5;
            //if (values < 10000)
            //    values = values * 3.9;
            //else if (values < 30000)
            //    values = values * 5.5;
            //else if (values < 60000)
            //    values = values * 7.3;
            //else if (values < 100000)
            //    values = values * 9.6;
            //else if (values < 250000)
            //    values = values * 12.7;
            //else
            //    values = values * 19;

            $("#token-base-amount").val(values);

        })


        </script>
    }



    <div class="jvectormap-tip"></div>
</body><!--   Core JS Files   -->
</html>

<style>

    .navigation-class li a {
        display: flex;
        flex-direction: row;
    }

    .card-stats {
        border-radius: 9px;
        min-height: 187px;
        display: flex;
        flex-direction: column;
    }
    .card .card-footer {
        margin: 0 20px 10px;
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
    }
    
    a img {
        max-width: 25px;
        margin-right: 10px;
    }

    .package-img {
        background: #fff;
        border-radius: 50%;
        padding-top: 5px;
        width: 70px;
        margin: 0 auto 20px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card img {
        width: 35px;
        height: auto;
    }


    .token-calc {
        flex-direction: column;
    }



</style>